* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.mainContainer {
  width: 800px;
  height: 100vh;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #D0D8FF;
  height: auto;
  margin: 0 auto;
  margin-top: 1%;
}

li {
  list-style: none;
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 40px;

}

.border-r {
  border-radius: 20px;
  border: 1px solid black;
}

.titleTasks {
  padding: 20px;
  font-weight: 400;
}

.tasksAll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;
}

.tasksAll .tasksMine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 40px;
}

.tasksAll .tasksMine h2 {
  text-align: center;
}

.tasksAll .tasksMine .emptyTask {
  margin: 20px 0;
  color: #e66108;
}

.tasksAll .tasksMine .tasksClosed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

/*.tasksAll .tasksMine .tasksClosed span {
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}*/

.tasksAll .tasksMine .tasksClosed a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border-bottom: 1px solid black;
}

.tasksAll .tasksMine .tasksCheckList li {
  display: flex;
  gap: 10px;
}

.tasksAll .tasksMine .tasksCheckList li{
  position: relative;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 40px 0;
  background-color: #D9D9D9;
}

.newTasks {
  padding: 20px 40px;
}

.newTasks .joinTasks {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}

.newTasks .joinTasks button {
  border-radius: 20px;
  border: 1px solid black;
  padding: 10px 40px;
  cursor: pointer;
}

.containerTasksClosed {
  display: none;
}